.card__image {
    margin: 0;
}

.card__image-slide {
    width: 100%;
}

.card__caption {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.card__more {
    margin: 0;
    color: cadetblue;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.card__more {
    cursor: pointer;
}

.card__details {
    padding: 10px;
    overflow-y: scroll;
    background: antiquewhite;
    position: absolute;
    max-width: 236px;
    max-height: 200px;
    display: none;
}

.card__details::-webkit-scrollbar {
    width: 7px;
    background-color: antiquewhite;
}

.card__details::-webkit-scrollbar-thumb {
    background-color: #223c50;
}

.card__details_open {
    display: block;
}